<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">  
<suite name="Sauce Labs">  
  <test name="Validate the Suace Labs Application" annotations="JDK" preserve-order="true">  
    <classes>  
      <class name="runnerClasses.MyRunner"/>  
    </classes>  
  </test> <!-- Test -->  
</suite> <!-- Suite -->  